.container-after-titlebar {
  
}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.m-0 {
    margin: 0 !important;
}

.alert-info {
    background-color: #3f94db;
    border-radius: 4px;
}

.needs-update {
    background-color: #FFFFCC !important;
}
.conflicted {
    background-color: #ffdede !important;
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.main-panel .navbar {
    position: fixed;
    height: 61px;
    left: 260px;
    right: 0;
    top: 0;
}

.card .content {
    padding: 15px;
}

.main-panel > .content {
    padding: 23px 12px;
    margin: 4px;
    top: 61px;
    bottom: 0px;
    position: fixed;
    right: 0px;
    left: 260px;
    overflow-y: auto;
}

.has-update i {
    color: #ffa534 !important;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.sidebar {
  top: 30px;
}
.main-panel .navbar {
  top: 30px;
}
.main-panel > .content {
  top: 91px;
}

.sidebar-logo {
    height: 35px;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.content.table-responsive {
    padding-bottom: 0px;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.radio-inline input[type=radio] {
    margin-top: 0px;
}

.login-container {
    max-width: 600px;
}

.login-container .logo {
    margin-top: 70px;
}

.login-container #user-login {
    margin-top: 20px;
}

.login-container .card-title {
    padding: 15px;
    font-size: 21px;
}

.login-container .mda-form-control,
.login-container #login-button {
    margin: 15px;
}

.login-container label.error {
    display: block;
    margin: 15px 15px 0 15px;
    color: red;
}

.validation-error {
  display: block;
  color: red;
  margin-top: 8px;
}

.form-group {
  margin-bottom: 11px;
}

.form-control.no-focus {
  border: 1px solid #E3E3E3 !important;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

table {
    margin-bottom: 0px !important;
}

.card .pull-right {
    position: absolute;
    right: 27px;
    top: 12px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.splash-screen .logo {
    margin: 0 auto;
    display: block;
    width: 350px;
}

.v-container {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.v-center {
  display:table-cell;
  vertical-align:middle;
}

.m-0 {
    margin: 0 !important;
}

.logs {
    background-color: #efefef; 
    color: #222; 
    padding: 10px; 
    border-radius: 8px; 
    height: 440px;
    overflow-y: auto;
}

.logs p {
    margin-bottom: 4px;
}
.logs p.erreur {
    color: red;
}
.logs p.en-cours {
    color: #666;
}

.transfert-statut {
    width: 30px;
}

.valid-feedback, .invalid-feedback {
    margin-top: 10px;
}
.valid-feedback {
    color: #28a745;
}
.invalid-feedback {
    color: #dc3545;
}

.sidebar:after {
    background: #2196F3;
    background: -moz-linear-gradient(top, #7b21f3 0%, rgba(38, 25, 210, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2196F3), color-stop(100%, #943bea));
    background: -webkit-linear-gradient(top, #7b21f3 0%, rgba(38, 25, 210, 0.65) 100%);
    background: -o-linear-gradient(top, #7b21f3 0%, rgba(38, 25, 210, 0.65) 100%);
    background: -ms-linear-gradient(top, #7b21f3 0%, rgba(38, 25, 210, 0.65) 100%);
    background: linear-gradient(to bottom, #7b21f3 0%, rgba(38, 25, 210, 0.65) 100%);
    background-size: 150% 150%;
}

.account-image a {
    margin: 0 !important;
    padding: 13px 13px !important;
}

.inset {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.profile-image {
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 50%;   
    height: 30px;
    width: 30px;
}

.leaderboard .profile-image {
  width: 20px;
  height: 20px;
  margin-right: 0px;
}

.profile-name {
    font-size: 18px;
}

.rate-badge {
    margin-top: 3px;
    font-size: 15px;
}

.landing-bets-list {
    margin-bottom: 5px;
}

#final-results {
    width: 100%;
    margin-bottom: 20px;
}

/* CSS toogle swtich */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-group-addon {
    background-color: #efefef;
}    

.vote-ending-messages,
.vote-ending-messages table {
  width: 100%;
}

.vote-ending-messages input {
  border: 0 !important;
}
.vote-ending-messages td {
  padding: 0 !important;
}
.vote-ending-messages a {
  color: red;
  text-decoration: underline;
}

/* Settings */
.panel-account .panel-heading {
  position: relative;
}
.panel-account .panel-body p {
  margin: 0px;
}
.panel-account .panel-title {
  color: #000;
}

.youtube-icon {
  float: left;
  width: 46px;
  margin-right: 13px;
  padding: 4px;
}
.streamlabs-icon {
  float: left;
  width: 46px;
  margin-right: 13px;
  padding: 4px;
}

/* Streamlabs */
.panel-streamlabs .panel-heading {
  background-color: 0px;
}

.btn-connect {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #099210;
  border-color: #50bf56;
  margin: 10px 120px 10px 10px;
  margin-right: 12px;
  padding: 6px 10px;
  font-size: 15px;
}

.btn-disconnect,
.btn-disconnect:focus {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #777777;
  border-color: #adadad;
  margin: 10px 120px 10px 10px;
  margin-right: 12px;
  padding: 6px 10px;
  font-size: 15px;
}

.btn-disconnect:hover {
  color: #fff;
  border-color: #FF4A55;
  color: #FF4A55;
}

.panel-heading {
  border-bottom: 0px;
}
.panel-body {
  border-top: 1px solid #eaeaea;
}

@media (max-width: 991px) {
  .main-panel .navbar {
    left: 0px;
  }
  .main-panel > .content {
    left: 0px;
  }
  .nav-mobile-menu {
    display: none;
  }
}

.table-sortable > thead > tr > th.sortable {
  cursor: pointer;
  position: relative;
}

.table-sortable > thead > tr > th.sortable:after,
.table-sortable > thead > tr > th.sortable:after,
.table-sortable > thead > tr > th.sortable:after {
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  right: 10px; /* (right padding / 2) - arrow width */
  top: 16px; /* ((padding * 2) + line height) - arrow height */
  /** As pointed out by Dave Everitt in 
   * https://css-tricks.com/snippets/css/css-triangle/
   * The arrow is not an equilateral triangle.
   * the height is 86.6% of the width.
   * Notice the above code does not subract the border 
   * width exactly. It is subtracting
   * (rounded) border width * 86.6%
   **/
}

/* Default sortable indicator */
.table-sortable > thead > tr > th.sortable:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
  border-bottom: 0px solid transparent;
}
/* !Default */

/* Default sortable indicator:hover */
.table-sortable > thead > tr > th.sortable:hover:after {
  border-top: 5px solid #888;
}
/* !Default:hover */

/* Ascending sortable indicator */
.table-sortable > thead > tr > th.sortable.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 5px solid #333;
}
/* !Ascending */

/* Descending sortable indicator */
.table-sortable > thead > tr > th.sortable.desc:after {    
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
}
/* !Descending */

.table-sortable thead th:first-child,
.table-sortable tbody th:first-child {
     padding-left: 15px; 
}

/* Heading styles */
h2.page-header {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 15px;
  vertical-align: middle;
}
h1 > .divider:before,
h2 > .divider:before,
h3 > .divider:before,
h4 > .divider:before,
h5 > .divider:before,
h6 > .divider:before,
.h1 > .divider:before,
.h2 > .divider:before,
.h3 > .divider:before,
.h4 > .divider:before,
.h5 > .divider:before,
.h6 > .divider:before {
  color: #777;
  content: "\0223E\0020";
}