// DEV
export default {
  "clientId" : "CLIENT_ID",
  "clientSecret" : "CLIENT_SECRET",

  "smtpHost" : "SMTP_HOST",
  "smtpLogin" : "SMTP_USER",
  "smtpPassword" : "SMTP_PASSWORD",
  
  "multipleBets" : true,
  "show_debug" : true,
  "prevent_close" : false,
  "window_settings": {
    "width": 1700,
    "minWidth": 1700,
    "height": 700
  }
}
