<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FS Chat</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>

    <style>
        @font-face {
            font-family: 'Pe-icon-7-stroke';
            src:url('static/fonts/Pe-icon-7-stroke.eot?d7yf1v');
            src:url('static/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
                url('static/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
                url('static/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
                url('static/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face{
            font-family:'FontAwesome';
            src:url('static/fonts/fontawesome-webfont.eot?v=4.7.0');
            src:url('static/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
                url('static/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
                url('static/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
                url('static/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
            font-weight:normal;
            font-style:normal
        }

       /* @font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}*/
    </style>

  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
    <!-- // <script src="static/js/core/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script> -->
  </body>
</html>
